.sidepanel{
    position: fixed;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.sidepanel a:hover svg{
    color: green;
    height: 40px;
    width: 40px;
}
#sidepanel_company:hover::after{
    content: 'КОМПАНИЯ';
}
#sidepanel_product:hover::after{
    content: 'ПРОДУКТЫ';
}
#sidepanel_clients:hover::after{
    content: 'КЛИЕНТЫ';
}
.sidepanel a:hover::after{
    position: absolute; /* Абсолютное позиционирование */
    left: 50px; right: 0; /* Положение подсказки */
}